.IdentityService/
Android/
Backup/
CEF/
CMakeTools/
Cisco/
Comms/
ConnectedDevicesPlatform/
CrashDumps/
D3DSCache/
Docker/
FileZilla/
Google/
IconCache.db
IdentityNexusIntegration/
JetBrains/
Lenovo/
Microsoft/
Mozilla/
NVIDIA/
OneDrive/
PUTTY.RND
Package Cache/
PackageManagement/
Packages/
Palo Alto Networks/
Postman/
Programs/
Publishers/
Resmon.ResmonCfg
ServiceHub/
SquirrelTemp/
Sublime Merge/
Tailscale/
Temp/
ToastNotificationManagerCompat/
VMware/
WebEx/
WinSparkle/
authy/
bitwarden-updater/
bomgar/
docker-compose/
fanal/
flasharchive-updater/
nViewCpl1/
npm-cache/
nvim-data/
obsidian-updater/
pip/
zoxide/ 
.IdentityService/
Android/
Backup/
CEF/
CMakeTools/
Cisco/
Comms/
ConnectedDevicesPlatform/
CrashDumps/
D3DSCache/
Docker/
FileZilla/
Google/
IconCache.db
IdentityNexusIntegration/
JetBrains/
Lenovo/
Microsoft/
Mozilla/
NVIDIA/
OneDrive/
PUTTY.RND
Package Cache/
PackageManagement/
Packages/
Palo Alto Networks/
Postman/
Programs/
Publishers/
Resmon.ResmonCfg
ServiceHub/
SquirrelTemp/
Sublime Merge/
Tailscale/
Temp/
ToastNotificationManagerCompat/
VMware/
WebEx/
WinSparkle/
authy/
bitwarden-updater/
bomgar/
docker-compose/
fanal/
flasharchive-updater/
nViewCpl1/
npm-cache/
nvim-data/
obsidian-updater/
pip/
zoxide/
